<nav>
		<div><%= title %></div>
		<div class="sitetitle">
		<div>
		<ul>
			<li><a href="/">blog ninjas</a></li>
		
			<li><a href="/about">about ninjas</a></li>	
			<li><a href="/blogs/create">create blog ninjas</a></li>
		</ul>

		</div>
		</div>

</nav>